// Variables
$size-content-width: 1400px;

// Media breakpoints
$media-size-desktop-max: 4200px;
$media-size-desktop-min: 1200px;
$media-size-tablet-max: $media-size-desktop-min - 1;
$media-size-tablet-min: 680px;
$media-size-mobile-max: $media-size-tablet-min - 1;

// Colors (add your own color scheme)
$color-background: #fff;
$color-text: rgba(0, 0, 0, 0.8);
$color-primary: #557ece; // Example primary color
$color-secondary: #f1976a; // Example secondary color

$header-border-color: rgba(0, 0, 0, 0.5);
$border-color: rgba(0, 0, 0, 0.1);
$header-bg-color: rgba(0, 0, 0, 0.05);
$table-spacing: 0.3rem;

// Fonts
@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Variable.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
}

// Mixins
@mixin for-size($min: null, $max: null) {
    // Usage: @include for-size($media-size-desktop-min, $media-size-desktop-max) { ... }
    @if $min != null and $max != null {
        // Both min and max are provided
        @media screen and (min-width: $min) and (max-width: $max) {
            @content;
        }
    } @else if $min != null {
        // Only min is provided
        @media screen and (min-width: $min) {
            @content;
        }
    } @else if $max != null {
        // Only max is provided
        @media screen and (max-width: $max) {
            @content;
        }
    }
}

@mixin size-desktop-only {
    @media screen and (min-width: #{$media-size-desktop-min}) and (max-width: #{$media-size-desktop-max}) {
        @content;
    }
}

@mixin size-tablet-only {
    @media screen and (min-width: #{$media-size-tablet-min}) and (max-width: #{$media-size-tablet-max}) {
        @content;
    }
}

@mixin size-content-width-max {
    @media screen and (max-width: #{$size-content-width}) {
        @content;
    }
}

@mixin size-tablet-max {
    @media screen and (max-width: #{$media-size-tablet-max}) {
        @content;
    }
}

@mixin size-mobile-max {
    @media screen and (max-width: #{$media-size-mobile-max}) {
        @content;
    }
}

@mixin table-header-styles {
    font-weight: bold;
    padding: 0.75rem;
    border-bottom: 1px solid $header-border-color;
    text-transform: uppercase;
    text-align: left;
}

@mixin table-body-styles {
    padding: 0.625rem;
    border-bottom: 1px solid $border-color;
}

// Global universal styles
* {
    font-family: Inter, 'Helvetica Neue', Helvetica, sans-serif;
}

// Header text
@for $i from 1 through 6 {
    $size: 3.5rem - 0.5rem * ($i - 1); // Decrease size with each header level
    $line-height: $size + 0.125rem;

    h#{$i} {
        font-size: $size !important;
        line-height: $line-height !important;
        font-weight: 400 !important;
        letter-spacing: if($i == 6, 1px, normal) !important;
    }
}

// Normal body text
p,
b,
i,
label {
    margin: 0;
    font-weight: inherit;
    line-height: 1.5; // Standard line-height for better readability
}

// Utility classes
.page-title {
    font-weight: bold;
}
.header-txt {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

// Page-level styling
section.page {
    background: $color-background;
    color: $color-text;
    padding: 2rem;

    .page-contents {
        max-width: $size-content-width;
        margin: auto;
        display: flex;
        gap: 3rem;
        flex-direction: column;
        padding: 3rem;
    }

    @include for-size(null, $media-size-mobile-max) {
        padding: 1rem;

        .page-contents {
            gap: 2rem;
            padding: 1.5rem 1rem;
        }
    }
}

// Route-specific styling
section.page#invoice .page-contents {
    // Header group
    .page-header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
        padding-bottom: 4rem;
        border-bottom: 2px solid #eee;

        .page-header__invoice-names {
            .page-title {
                margin-bottom: 1.5rem !important;
            }

            .invoice-names__from-to {
                display: flex;
                gap: 3rem;

                > div {
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        .page-header__invoice-details {
            display: flex;
            gap: 3rem;

            input#csvFile {
                cursor: pointer;
                height: auto;
                margin-bottom: auto;
            }
        }
    }

    // Totals group
    #invoice-totals {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;

        .summary-stats {
            flex: 1;
            flex-direction: column;
            background-color: rgba(black, 0.05);
            border-radius: 0.25rem;
            padding: 1rem;
            display: flex;
            gap: 1rem;
            justify-content: space-between;

            .stats-value {
                font-weight: 500 !important;
            }
        }
    }

    // Summaries group
    #invoice-summaries {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;

        // Billable hours summary table styles
        table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0 $table-spacing;

            thead tr th {
                @include table-header-styles;
            }

            tbody tr td {
                @include table-body-styles;
                &:first-of-type {
                    padding-right: 1rem;
                }
            }
        }

        .header-txt {
            margin-bottom: 1rem;
        }

        // Bar chart styles
        canvas#summaryBarChart {
            width: 100%;
            height: 400px;
        }
    }

    // Time entries group
    #invoice-time-entries {
        table#time-entries-table {
            width: 100%;
            th,
            td {
                border-bottom: 1px solid $border-color;
                padding: 0.75rem;
                text-align: left;
            }
            th {
                @include table-header-styles;
            }
        }
    }

    // Responsive styles for mobile devices
    @include for-size(null, $media-size-mobile-max) {
        // Adjust layout for mobile responsiveness
        .page-header,
        #invoice-totals,
        #invoice-summaries {
            flex-direction: column;
            padding: 0;
        }

        canvas#summaryBarChart {
            height: 300px; // Adjust the height for mobile devices
        }
    }
}
